.cards__description{
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  padding: 0;
  /*Почему-то текст выглядит немного иначе, в брифе на других словах переходы на новые строки -_-
  подозреваю из-за шрифта. Можно конечно добавить padding: 0 3px 0; и будет конфетка :) */
}
