.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.5s linear;
}

.feynman__link:hover {
  /*font-weight: bold;*/
  /*color: white;*/
  opacity: 0.5;
}
