.cards__item {
  box-sizing: border-box;
  list-style: none;
  /*width: 240px;
  margin: 0 100px 0 0;*/
  text-align: center;
}

/*.cards__item:nth-child(3n) {
  margin-right: 0;
}*/

/*Это остатки от выравнивание display:flex, решил выбрать grid. Красивее и
компактнее код.*/
